.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer {
    background-color: #ADADAD;
    margin: 0px auto;
    padding: 20px 0px;
}
/* #D1C4E9 */
.jumbotron {
    padding: 70px 30px;
    margin: 0px auto;
    background-color: #501B1D;
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0px auto;
    color: #0f0f0f ;
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    /* background-color: #2C3531; */
    background-color: #2E1114;
}

.btn-1{
    background-color: #64485C;
}

.btn-2{
    background-color: #ADADAD;
}

.btn-3{
    background-color: #83677B;
}
 .color{
     /* color:#64485C ; */
     color: #501B1D ;
 }
 .tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
/* https://visme.co/blog/website-color-schemes/ */